
.button{
    -fx-background-color: none;
    -fx-opacity: 0.6;
}

#earthPic{
    -fx-background-color: none;
    -fx-opacity: 1;
}

#igBut{
    -fx-background-color: none;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 7, 0, 0, 0);
}

#fbBut{
    -fx-background-color: none;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 7, 0, 0, 0);

}
#redBut{
    -fx-background-color: none;
    -fx-opacity: 1;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 7, 0, 0, 0);
}

#exitBut{
    -fx-background-color: none;
    -fx-opacity: .6;
}

.root{
    -fx-background-color: #fefefe;
}

#mainPane{
    -fx-background-radius: 40px;
    -fx-font-family: 'Helvetica', Arial, sans-serif;

}

#leftPane{
    -fx-background-color: #333950;
    -fx-background-radius: 36px 0 0 36px;
}

#progressBar{
    -fx-background-color: white;
    -fx-box-shadow: 5px 10px;
}

#enemyBut{
    -fx-background-color: none;
    -fx-opacity: 1;

}



